<form action="Confirmreg.js"method="post">
    <div class="large-6 columns">
      <label>first name*
    	<input type="text" name="firstname" placeholder="first name" required />
      </label>
    </div>
        <div class="large-6 columns">
      <label>last name*
        <input type="text" name="lastname" placeholder="last name" required />
      </label>
    </div>
        <div class="large-6 columns">
      <label>email address*
        <input type="email" name="email" placeholder="email"required />
      </label>
    </div>
        <div class="large-6 columns">
      <label>confirm email*
        <input type="email" name="emailconfirm" placeholder="email" required />
      </label>
    </div>
    <div class="large-6 columns">
        <label>password*</label>
        <input type="password" name="password" placeholder="password" required />       
        <medium class="input">Password must be at least 8 characters; Contain at least three character types: lowercase letters, uppercase letters, numbers, punctuation; Do not include your username.</medium>
         </div>
    <div class="large-6 columns">
        <label>confirm password*</label>
          <input type="password" name="passwordconfirm" placeholder="password" />
        
        </div>
        <div class="large-6 columns">
        <label>Credit Card Number*</label>
          <input type="credit_card" name="creditcard" placeholder="creditcard" />
        
        </div>
        <div class="large-6 columns">
        <label>Credit Card Type</label>
          <input type="cctype" name="cctype" placeholder="cctype" />
        
        </div>
        <div class="large-12 columns">
       <div align="right"><a href="confirmreg.js" class="button-lrg">REGISTER</a> 
       </div>
</form>